{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="inset">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
	    <br>
	    <input id="first_name" name="first_name" type="text" placeholder="First name"> {{ form.first_name.errors }}
            <br>
	    <input id="last_name" name="last_name" type="text" placeholder="Last name"> {{ form.last_name.errors }}
            <br>
            {{ form.username }} {{ form.username.errors }}
            <br>
            {{ form.password1 }} {{ form.password1.errors }}
	    <br>
            <input id="id_email" name="email" type="email" placeholder="email@address.com"> {{ form.email.errors }}
            <br>
            {{ form.picture}}
            <br><br>
	  {% if redirect_field_value %}
         	 <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          	 {% endif %}

         	 <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
        <div class="footnote">
            Already have an account? <a href="{{ login_url }}">Sign in !</a>
        </div>
    </div>
{% endblock %}
